
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for expanded patient details */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #374151; /* Darker gray for track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4B5563; /* Medium gray for thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6B7280; /* Lighter gray on hover */
}